*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: black;
}
.area{
    width: 1000px;
    margin: auto;
}
.header{
    overflow: hidden;
    background-color:white;
    padding:20 0;

}
.logo{
    float: left;
    width: 280px;
    margin-right:20px;
}
.logo img{
    width: 100%;
    
}
.name{
    
    font-family: fantasy;
    padding-bottom: 20px;
    background-color:white;
    width: 100%;
    font-size: 40px;
    color: rgb(97, 155, 89);
}
.menu{
    float:right;
    width:700px;


}
.menu ul{
    list-style: none;
    text-align: right;
    margin-top: 22px;

}
.menu ul li{
display: inline-block;

}
.menu ul li a{
    text-decoration:none;
    color:rgb(15, 215, 230);
    font-size: 25px;
    padding:10px 15px;
    display: block;
}
.banner{
width: 100%;
}
.banner img{
width:100%;
}
.services{}
.title{}
.title h4{
    text-align: center;
    text-transform:capitalize;
    font-size: 35;
    margin: 20px 0;
}
.services-box{
    overflow: hidden;
}
.single-service{
    background-color: white;
    padding: 20px;
    float: left;
    width: 313px;
    margin-right: 20px;
}
.single-service h4{
    text-align: center;
    font-size: 30px;
    color: black;
    margin-bottom: 25px;
}
.single-service p{
    color: black;
    font-size: 16px;
    margin: 10px 0;
}
.single-service img{
    width: 100%;
}
.single-service a{
    display: inline-block;
    text-transform: capitalize;
    text-decoration: navajowhite;
    color: black;
    background-color: blanchedalmond;
    padding: 10px 20px;
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
}


